.profileCardWrapper{
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px lightgray;
    background-color: white;
    padding: 10px 0;
}

.profilePicture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profileName {
    padding-top: 10px;
    margin-left: 25px;
    font-size: x-large;
}

.followingList {
    margin: 20px 10px;
    background-color: white;
    box-shadow: 0 0 5px lightgray;
    border-radius: 8px;
    height: 190px;
}

.followingTitle {
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 4px;
    font-size: large;
}

.followingEntryContainer {
    display: flex;
    align-items: center;
}

.followingContainer {
    margin-top: 3px;
    height: 145px;
    overflow-y: auto;
}

.followingLink {
    text-decoration: none;
    color: black;
}

.followingListEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
}

.followingButton {
    margin-left: 25px;
    margin-top: 10px;
    width: 75px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(62, 129, 246);
    cursor: pointer;
}
.followingButton:hover, .followingEntryButton:hover {
    background-color: rgb(33, 112, 250);;
}

.followingEntryButton {
    margin-right: 10px;
    width: 75px;
    height: 25px;
    background-color: rgb(62, 129, 246);
    font-weight: bold;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}


.followingListEntry:hover {
    box-shadow: 0 0 1px gray;
}

.followingListEntryPicture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.followingListEntryName {
    margin-left: 8px;
}
