.searchContainer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    position: relative;
}

.searchContainerActive {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    position: relative;
}

.searchContainerTitle {
    font-family: "Protest Riot", sans-serif;
    font-size: large;
    padding:15px;
    text-align: center;
    top: 0;
    position: absolute;
    color: teal;
}

.clearInputButton {
    border: none;
    background-color: unset;
    height: 30px;
    width: 30px;
    font-weight: bolder;
    font-size: xx-large;
    padding-bottom: 40px;
    color: darkgray;
    cursor: pointer;
}

.searchWrapperParent {
    height: 200px;
    display: flex;
    justify-content: center;
}


.searchWrapper {
    overflow-y: auto;
    height: 250px;
    width: 90%;
    position: absolute;
}


.userSearchLink {
    text-decoration: none;
    color: black;
}


.userSearchEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
}

.userSearchEntry:hover {
    box-shadow: 0 0 1px gray;
}

.searchEntryContainer {
    display: flex;
    align-items: center;
}

.searchEntryImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.searchEntryName {
    margin-left: 8px;
}

.searchEntryButton {
    margin-right: 10px;
    width: 75px;
    height: 25px;
    background-color: rgb(62, 129, 246);
    font-weight: bold;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.searchEntryButton:hover {
    background-color: rgb(33, 112, 250);
}

@media screen and (min-width:1200px){
    .searchContainer {
        width: 40%;
        height: 350px;
        margin-top: 65px;
        margin-left: 0;
        background-color: unset;
    }
    .searchContainerActive {
        height: 550px;
        width: 40%;
        margin-top: 65px;
        margin-left: 0;
        background-color: unset;
    }
    .searchContainerTitle {
        padding-top: 60px;
        font-size: larger;
    }
    .searchWrapper{
        height: 300px;
        background-color: unset;
    }
}