.searchContainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 270px;
}

.searchInputWrapper {
    border: thin solid lightgray;
    height: 30px;
    width: 170px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    z-index: 100;
    background-color: white;
}

.searchInput {
    border: none;
    outline: none;
    height: 100%;
    width: 85%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 5px;
}

.clearInputButton {
    border: none;
    background-color: unset;
    height: 100%;
    width: 15%;
    font-weight: bolder;
    font-size: larger;
    color: darkgrey;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.searchWrapperParent {
    height: calc(100vh - 6vh);
    width: 100%;
    z-index: 99;
    margin-top: -21px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.2);
} 


.searchWrapper {
    overflow-y: scroll;
    height: 250px;
    width: 300px;
    margin-top: 50.5px;
    background-color: white;
    border-radius: 8px;
}


.userSearchLink {
    text-decoration: none;
    color: black;
}


.userSearchEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.userSearchEntry:hover {
    box-shadow: 0 0 1px black;
    background-color: lightgray ;
}

.searchEntryContainer {
    display: flex;
    align-items: center;
}

.searchEntryImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.searchEntryName {
    margin-left: 8px;
}

.searchEntryButton {
    margin-right: 10px;
    width: 75px;
    height: 25px;
    background-color: rgb(62, 129, 246);
    font-weight: bold;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.searchEntryButton:hover {
    background-color: rgb(33, 112, 250);
}

@media screen and (min-width:750px) {
    .searchInputWrapper {
        height: 40px;
        width: 190px;
    }
    .searchContainer {
        margin-top: 260px;
    }
    .searchWrapper {
        margin-top: 60px;
        width: 300px;
    }
}


@media screen and (min-width:1200px){
    .searchContainer {
        width: 40%;
        height: 350px;
        margin-top: 310px;
        margin-left: 0;
        background-color: unset;
    }
    .searchContainerTitle {
        padding-top: 60px;
        font-size: xx-large;
    }
    .searchWrapper{
        height: 300px;
        width: 350px;
    }
}