.profile {
    display: flex;
    height: 83vh;
    flex-direction: column;
    background-color: white;
    margin: auto 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px lightgray;
}

.profileCardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    background-color: white;
    padding: 10px 0;
    height: 30%;
}

.profilePicture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profileName {
    padding-top: 10px;
    text-align: center;
    font-size: x-large;
}

.followingListWrapper {
    height: 65%;
}
.followingList {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10%;
    background-color: white;
    box-shadow: 0 0 5px lightgray;
    border-radius: 8px;
    height: 40%;
}

.followingTitle {
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 4px;
    font-size: larger;
    color: teal;
    height: 20%;
}

#followingCount {
    color: rgb(70, 70, 70);
    text-align: center;
}

.followingContainer {
    height: 80%;
    overflow-y: auto;
}

.buttonWrapper {
    display: flex;
    justify-content: space-around;
    width: 170px;
}

.followingButton {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(62, 129, 246);
    cursor: pointer;
}
.followingButton:hover, .followingEntryButton:hover {
    background-color: rgb(33, 112, 250);;
}

.followingEntryButton {
    margin-right: 10px;
    width: 75px;
    height: 25px;
    background-color: rgb(62, 129, 246);
    font-weight: bold;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}


.profileNameAndButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 750px) {
    .profile {
        margin: auto 50px;
        height: 82vh;
        padding-bottom: 5%;
    }
    .profilePicture {
        height: 150px;
        width: 150px;
    }
    .profileName {
        font-size: xx-large;
    }
    .followingList {
        margin-top: 5%;
    }
}

@media screen and (min-width: 1000px) {
    .profile {
        margin: auto 70px;
        
    }
}

@media screen and (min-width: 1200px) {
    .followingListWrapper {
        display: flex;
        width: 100%;
        height: 70%;
    }
    .followingList {
        width: 40%;
        height: 70%;
        margin: auto;
    }
    .profileCardWrapper{
        height: 40%;
    }
}